
<div class="row shadow-sm " style="height: 50px;">
    <div class="col ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-2">

            <li class="nav-item">
                <a class="nav-link" href="#"><img
                        src="../../../assets/images/eg-logo.svg" alt
                        width="20px"
                        height="20px"><span class="ms-3 fs-16"> Legal Solution
                    </span></a>
            </li>
        </ul>

    </div>
</div>
<div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-2">
        <li>
            <a class="nav-link active" aria-current="page" routerLink="/home"><i
                    class="bi bi-house-fill"></i>
                <span class="ms-3 fs-16"> Home </span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" routerLink="/addtime"><i
                    class="bi bi-plus-circle"></i> <span
                    class="ms-3 fs-16">
                    Time
                    registration </span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/calview"><i
                    class="bi bi-calendar4"></i> <span
                    class="ms-3 fs-16">
                    Calendar
                </span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/overview"><i
                    class="bi bi-bar-chart"></i> <span
                    class="ms-3 fs-16">
                    Overview
                </span></a>
        </li>
    </ul>
</div>

<div class="mt-5 position-absolute bottom-0 start-1">
    <!-- <div class="">
        <hr>
    </div> -->
    <div></div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-2">
        <li>
            <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#notificationModal">
                            Launch demo modal
                          </button> -->
            <a class="nav-link content " aria-current="page"
                href="/notification.html"
                data-bs-toggle="modal" data-bs-target="#notificationModal"><i
                    class="bi bi-bell-fill"></i><img src="../../../assets/logo/reddot.svg"
                    class="bell" alt>
                <span class="ms-3 fs-16 "> Notification <sup>3</sup></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/userprofile"><i
                    class="bi bi-person-circle"></i>
                <span
                    class="ms-3 fs-16">
                    Camile Jensen </span></a>
        </li>
    </ul>

</div>
