<div class="container-fluid">


    <div class="row">
      <div class="col-3 shadow position-relative" style="height: 678px;">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-9 p-0">
        <div class="ml-48 mt-32 mr-48 mt-32">

          <div class="container-fluid" id="plus">

            <div class="row">
              <div class="row mt-4 text-center">
                <p><strong class="fs-5">Profile</strong></p>
              </div>



              <div class="row mt-5 mb-1">
                <div class="col-6">
                  <p class="mb-1"><strong class="fs-5">Camile Jensen</strong></p>
                  <p>camjenadvo.dk</p>
                </div>
                <div class="col-6 text-end">
                  <a routerLink="" class="text-danger-emphasis"><button
                      class="fs-5 btn btn-background-1 "><strong>Log Out</strong><img src="./logo/logout.svg"
                        class="align" alt=""></button></a>
                </div>

              </div>
              <div class="divider p-2">
                <img src="./logo/divider.svg" width="100%" alt="">
              </div>
            </div>


            <div class="row mt-1 mb-1 align-items-center">
              <p><strong class="fs-5">Settings</strong></p>
              <p class="mb-1"><strong class="fs-6">Push Notifications</strong></p>


              <div class="col-6">
                <p class="mt-1">Get notifications regarding your unregistered hours</p>
              </div>
              <div class="col-8 text-end position-absolute ">
                <i class="bi bi-toggle-on mb-5 fs-1 position-relative "></i>
              </div>
            </div>

            <div class="row mt-1 ">
              <div class="col-3"><strong class="fs-6 ">
                  <p class="mb-1">Overdue Registration Notification</p>
                </strong></div>
              <p class="mt-1">Get notifications regarding overdue registrations(2 weeks or 1 month)</p>
              <div class="row ">
                <div class="col-1 ">
                  <button class="form-control col-card fs 14 p-0 form-floating mb-3 shadow ">
                    <p class="card-text">2 w</p>
                  </button>
                </div>
                <div class="col-1">
                  <button class="form-control col-card-1 fs-14 p-0 form-floating mb-3 shadow purple ">
                    <p class="card-text">1 m</p>
                  </button>
                </div>
              </div>
            </div>


            <div class="row mt-2 ">
              <p class="mb-1"><strong class="fs-6 ">Time registration rounding</strong></p>
              <p class="mt-1">Choose how you want your minutes to be rounded up</p>
              <div class="row ">
                <div class="col-1 ">
                  <button class="form-control col-card fs 14 p-0 form-floating mb-3 shadow ">
                    <p class="card-text">No</p>
                  </button>
                </div>
                <div class="col-1">
                  <button class="form-control col-card-1 fs-14 p-0 form-floating mb-3 shadow purple ">
                    <p class="card-text">5</p>
                  </button>
                </div>
                <div class="col-1 ">
                  <button class="form-control col-card fs 14 p-0 form-floating mb-3 shadow ">
                    <p class="card-text">0</p>
                  </button>
                </div>
              </div>
            </div>


            <div class="row mt-2 ">
              <p class="mb-1"><strong class="fs-6 ">Work Week</strong></p>
              <p class="mt-1">Set the length of your work week</p>
              <div class="row">
                <div class="col-1 ">
                  <button class="form-control col-card fs 14 p-0 form-floating mb-3 shadow ">
                    <p class="card-text">5 d</p>
                  </button>
                </div>
                <div class="col-1 ">
                  <button class="form-control col-card-1 fs 14 p-0 form-floating mb-3 shadow ">
                    <p class="card-text">7 d</p>
                  </button>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>